/control
/*.debhelper
/*.debhelper.log
/*.substvars
/files
/qemu-block-extra/
/qemu-guest-agent/
/qemu-system/
/qemu-system-arm/
/qemu-system-common/
/qemu-system-data/
/qemu-system-gui/
/qemu-system-mips/
/qemu-system-misc/
/qemu-system-modules-opengl/
/qemu-system-modules-spice/
/qemu-system-ppc/
/qemu-system-s390x/
/qemu-system-sparc/
/qemu-system-x86/
/qemu-system-xen/
/qemu-user/
/qemu-user-binfmt/
/qemu-user-static/
/qemu-utils/
!patches
!*.patch
